// Imports
@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

// Variables
$oregano: "Josefin Sans", sans-serif;
$delius: "Delius Swash Caps", cursive;
$comfortaa: "Montserrat", sans-serif;

$main-color: #0093e9;
$secondary-color: #fff;

// mixin

@mixin bg {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

@mixin shadow {
  box-shadow: 1px 13px 24px -5px rgba(0, 147, 233, 0.53);
}

@mixin grad-text {
  background: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Initialisation
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: $comfortaa;
  // background-color: #0093e9;
  color: #fff;
  // background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  &::-webkit-scrollbar {
    width: 1rem;
    margin-right: 1em;
    padding: 0 2px;
  }
  &::-webkit-scrollbar-track {
    background: $secondary-color;
    border-radius: 10px;
    box-shadow: inset 0 0 5px $main-color;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @include bg();
    border: 2px solid $main-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $main-color;
  }
}

// Intro Slider

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .hide {
    font-size: 5vw;
    font-family: $comfortaa;
    background: $main-color;
    overflow: hidden;
    color: $secondary-color;
    text-align: center;

    .text {
      display: inline-block !important;
      transform: translateY(100%);
    }
  }
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: $secondary-color;
  transform: translateY(100%);
}

#sidebar-nav {
  // width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  .hamburger {
    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    height: 18px;
    width: 24px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    // z-index: 999;

    &__icon {
      display: inline-block;
      height: 2px;
      width: 24px;
      background: #fff;
      border-radius: 2px;
    }
  }

  .sidebar {
    height: 100vh;
    width: 320px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    transform: translatex(-100%);
    transition: transform 0.4s ease-in-out;

    &__close {
      position: absolute;
      top: 50%;
      right: -30px;
      background: #fff;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translatex(-100%);
      cursor: pointer;
      transition: transform 0.4s ease-in-out 0.2s;

      &::before,
      &::after {
        content: "";
        height: 2px;
        // background: #898989;
        background: rgba(0, 147, 233, 0.8);
        width: 24px;
        display: block;
        position: absolute;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    &__menu {
      //it's means sidebar__menu
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: space-around;
      font-size: 36px;
      margin-top: 80px;
      margin-bottom: 80px;
      // color: #898989;

      color: rgba(0, 147, 233, 0.8);

      a {
        // color: currentcolor;
        @include grad-text;
        text-decoration: none;
        transform: translatex(-80%);
        transition: transform 0.4s ease-in-out;

        &::before {
          content: "";
          height: 2px;
          // background: #898989;
          background: rgba(0, 147, 233, 0.8);
          width: 120px;
          position: absolute;
          bottom: -2px;
          left: 0;
          transform: translatex(-50%);
          opacity: 0;
          transition: transform 0.4s ease-in-out, opacity 0.4s linear;
        }

        &:hover {
          &::before {
            transform: translatex(0);
            opacity: 1;
          }
        }

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.05s;
          }
        }
      }
    }

    &__social {
      display: flex;
      list-style: none;
      padding: 0;

      li {
        margin: 4px;
      }

      a,
      svg {
        display: inline-block;
        height: 18px;
        width: 18px;
      }
    }
  }

  .menu-control {
    display: none;

    &:checked {
      & + .sidebar {
        transform: translatex(0);
      }

      & + .sidebar .sidebar__close {
        transform: translatex(0) rotate(45deg);
      }

      & + .sidebar .sidebar__menu a {
        transform: translatex(0);
      }
    }
  }
}

#home-page {
  height: 100vh;
  #img-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    #img-placer {
      position: relative;
      height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-basis: 25%;
      flex-wrap: wrap;
      .img-box {
        position: relative;
        width: calc(100% / 4);
        height: calc(100% / 3);
        background: url(//unsplash.it/1920);
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;

        .carousel {
          width: 100%;
          height: 100%;
          .carousel-inner {
            height: 100%;
          }

          .carousel-item {
            background-size: cover;
            // background-position: 50% 50%;
            width: 100%;
            height: 100%;
          }

          .carousel-item img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .img-box:nth-child(2n) {
        background: url(//unsplash.it/1280);
        background-position: center;
        background-size: cover;
      }
      .img-box:nth-child(3n) {
        background: url(//unsplash.it/2050);
        background-position: center;
        background-size: cover;
      }
      @media only screen and (max-width: 647px) {
        .img-box {
          width: calc(100% / 3);
          height: calc(100% / 4);
        }
      }
    }

    .img-overlay {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0, 0, 100, 0.4);
    }
    .page-content {
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5vw;
      font-weight: bolder;
      // color: #fff;
      @include grad-text;
    }
    @media only screen and (max-width: 768px) {
      .page-content {
        font-size: 5vh;
      }
    }
  }
}

#header {
  padding-top: 10vh;
  width: 100%;
  .page-heading {
    width: 100%;
    text-align: center;
    font-family: $oregano;
    font-size: 5vw;
    font-weight: bolder;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // color: #fff;
    @include grad-text;
  }

  @media only screen and (max-width: 576px) {
    .page-heading {
      font-size: 5vh;
    }
  }

  .page-nav {
    display: none !important;
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    .nav-list {
      list-style-type: none;
      display: flex;
      gap: 5vw;
      padding: 0;

      li {
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        border: 5px solid rgba(0, 147, 233, 0.8);
        a {
          text-decoration: none;
          font-family: $comfortaa;
          font-size: 2.5vw;
          text-transform: uppercase;
          // color: #304fdb;
          @include grad-text;
          font-weight: bolder;
          transition: all 200ms ease-in-out;
        }

        &:hover {
          // background-color: #fff;
          box-shadow: rgba(0, 147, 233, 0.12) 0px 2px 4px 0px,
            rgba(0, 147, 233, 0.32) 0px 2px 16px 0px;
        }

        &.active {
          // background-color: #fff;
          // @include bg;
          box-shadow: rgb(0, 147, 233) 0px 20px 30px -10px;
        }
      }
    }
  }
}

#gallery {
  margin: 5vh 0 10vh 0;
  width: 100%;
  min-height: 100vh;

  .gallery-container {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;

    .img {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      box-shadow: -3px 9px 36px 0px rgba(33, 212, 253, 0.5);

      .label {
        position: absolute;
        z-index: 10;
        font-size: 2rem;
        font-weight: bolder;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #21d4fd;
        background: linear-gradient(to top right, #21d4fd 0%, #b721ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity 500ms ease-in-out;
        cursor: pointer;
      }

      &:first-child {
        grid-column-start: span 2;
        grid-row-start: span 2;
      }
      &:nth-child(2n + 3) {
        grid-row-start: span 3;
      }
      &:nth-child(4n + 5) {
        grid-column-start: span 2;
        grid-row-start: span 2;
      }
      &:nth-child(6n + 7) {
        grid-row-start: span 1;
      }
      &:nth-child(8n + 9) {
        grid-column-start: span 1;
        grid-row-start: span 1;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
        transition: all 250ms ease-in-out;
      }

      &:hover {
        .label {
          opacity: 1;
        }

        .blender {
          opacity: 0.2;
        }

        img {
          transform: scale(1.2);
          filter: brightness(0.7);
        }
      }
    }
  }
}

#footer {
  width: 100%;
  min-height: 30vh;
  padding: 5rem 0;
  background: #21d4fd;
  background: linear-gradient(to top right, #21d4fd 0%, #b721ff 100%);

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
    padding: 5vh 0;

    .social-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vh;

      h1 {
        color: #fff;
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 3em;

        a {
          text-decoration: none;
          li i {
            font-size: 3vw;
            color: rgba(33, 212, 253, 1);
            transition: color 200ms ease-in-out;
            &:hover {
              color: rgba(33, 212, 253, 0.5);
            }
          }
        }
      }
    }

    .quick-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vh;
      padding: 2vh 0;

      h1 {
        color: #fff;
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 3em;

        a {
          text-decoration: none;
          li {
            font-size: 2vw;
            color: rgba(33, 212, 253, 1);
            font-weight: bolder;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              bottom: -2px;
              left: 0;
              background-color: rgba(33, 212, 253, 1);
              transform-origin: bottom right;
              transition: transform 0.25s ease-out;
            }

            &:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }

    hr {
      width: 80%;
      color: #b721ff;
      margin: 0 auto;
    }

    .end-text {
      margin-top: 0.5em;
      width: 100%;
      text-align: center;
      color: #009dc4;
      font-size: 1.5vw;

      a {
        text-decoration: none;
        font-family: $oregano;
        font-weight: bolder;
        color: rgba(33, 212, 253, 1);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #gallery {
    padding-top: 5vh !important;
    .gallery-container {
      grid-template-columns: auto auto auto;
    }
  }
}

@media only screen and (max-width: 430px) {
  #gallery {
    padding-top: 3vh !important;
    .gallery-container {
      display: block;

      img {
        display: block;
        width: 100px;
        height: 100%;
        margin: 2% 0;
      }
    }
  }

  #footer {
    .footer-container hr {
      opacity: 1 !important;
    }

    .social-links {
      ul {
        li i {
          font-size: 5vw !important;
        }
      }
    }
    .quick-links {
      ul {
        flex-direction: column !important;
        justify-content: space-around !important;

        li {
          font-size: 5vw !important;
          text-align: center;
        }
      }
    }

    .end-text {
      font-size: 3vw !important;
    }
  }
}

@import url("https://fonts.googleapis.com/css?family=Special+Elite");

#quote {
  width: 100%;
  font-family: "Special Elite", cursive;
  // background: #fffdf5;
  // color: #3f3f5a;
  color: rgba(0, 147, 233, 0.53);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;

  .blockquote {
    padding: 60px 80px 40px;
    position: relative;
  }
  .blockquote p {
    font-family: "Special Elite", cursive;
    font-size: 2vw;
    font-weight: 700px;
    text-align: center;
  }
  .blockquote:before {
    position: absolute;
    // font-family: "FontAwesome";
    top: 0;

    content: "\201C";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);
  }

  .blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    // margin-left: -100px;
    transform: translateX(-50%);
    position: absolute;
    border-bottom: 3px solid $main-color;
    height: 3px;
    width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  #quote {
    .blockquote p {
      font-size: 2vh;
    }
    .blockquote::after {
      width: 100px;
    }
  }
}
// bootstrap carousel

@media all and (transform-3d), (-webkit-transform-3d) {
  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
