@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 1rem;
  margin-right: 1em;
  padding: 0 2px;
}

body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #0093e9;
          box-shadow: inset 0 0 5px #0093e9;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border: 2px solid #0093e9;
}

body::-webkit-scrollbar-thumb:hover {
  background: #0093e9;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: #0093e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .hide {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
  background: #0093e9;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.intro .hide .text {
  display: inline-block !important;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

#sidebar-nav {
  height: 100vh;
  position: fixed;
  z-index: 1000;
}

#sidebar-nav .hamburger {
  position: absolute;
  left: 30px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  width: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#sidebar-nav .hamburger__icon {
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #fff;
  border-radius: 2px;
}

#sidebar-nav .sidebar {
  height: 100vh;
  width: 320px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#sidebar-nav .sidebar__close {
  position: absolute;
  top: 50%;
  right: -30px;
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0.2s;
  transition: -webkit-transform 0.4s ease-in-out 0.2s;
  transition: transform 0.4s ease-in-out 0.2s;
  transition: transform 0.4s ease-in-out 0.2s, -webkit-transform 0.4s ease-in-out 0.2s;
}

#sidebar-nav .sidebar__close::before, #sidebar-nav .sidebar__close::after {
  content: "";
  height: 2px;
  background: rgba(0, 147, 233, 0.8);
  width: 24px;
  display: block;
  position: absolute;
}

#sidebar-nav .sidebar__close::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sidebar-nav .sidebar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: rgba(0, 147, 233, 0.8);
}

#sidebar-nav .sidebar__menu a {
  background: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  -webkit-transform: translatex(-80%);
          transform: translatex(-80%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#sidebar-nav .sidebar__menu a::before {
  content: "";
  height: 2px;
  background: rgba(0, 147, 233, 0.8);
  width: 120px;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear, -webkit-transform 0.4s ease-in-out;
}

#sidebar-nav .sidebar__menu a:hover::before {
  -webkit-transform: translatex(0);
          transform: translatex(0);
  opacity: 1;
}

#sidebar-nav .sidebar__menu a:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#sidebar-nav .sidebar__menu a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#sidebar-nav .sidebar__menu a:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#sidebar-nav .sidebar__menu a:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sidebar-nav .sidebar__menu a:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

#sidebar-nav .sidebar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

#sidebar-nav .sidebar__social li {
  margin: 4px;
}

#sidebar-nav .sidebar__social a,
#sidebar-nav .sidebar__social svg {
  display: inline-block;
  height: 18px;
  width: 18px;
}

#sidebar-nav .menu-control {
  display: none;
}

#sidebar-nav .menu-control:checked + .sidebar {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

#sidebar-nav .menu-control:checked + .sidebar .sidebar__close {
  -webkit-transform: translatex(0) rotate(45deg);
          transform: translatex(0) rotate(45deg);
}

#sidebar-nav .menu-control:checked + .sidebar .sidebar__menu a {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

#home-page {
  height: 100vh;
}

#home-page #img-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#home-page #img-container #img-placer {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home-page #img-container #img-placer .img-box {
  position: relative;
  width: calc(100% / 4);
  height: calc(100% / 3);
  background: url(//unsplash.it/1920);
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#home-page #img-container #img-placer .img-box .carousel {
  width: 100%;
  height: 100%;
}

#home-page #img-container #img-placer .img-box .carousel .carousel-inner {
  height: 100%;
}

#home-page #img-container #img-placer .img-box .carousel .carousel-item {
  background-size: cover;
  width: 100%;
  height: 100%;
}

#home-page #img-container #img-placer .img-box .carousel .carousel-item img {
  width: 100%;
  height: 100%;
}

#home-page #img-container #img-placer .img-box:nth-child(2n) {
  background: url(//unsplash.it/1280);
  background-position: center;
  background-size: cover;
}

#home-page #img-container #img-placer .img-box:nth-child(3n) {
  background: url(//unsplash.it/2050);
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 647px) {
  #home-page #img-container #img-placer .img-box {
    width: calc(100% / 3);
    height: calc(100% / 4);
  }
}

#home-page #img-container .img-overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 100, 0.4);
}

#home-page #img-container .page-content {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5vw;
  font-weight: bolder;
  background: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  #home-page #img-container .page-content {
    font-size: 5vh;
  }
}

#header {
  padding-top: 10vh;
  width: 100%;
}

#header .page-heading {
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  font-weight: bolder;
  background: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 576px) {
  #header .page-heading {
    font-size: 5vh;
  }
}

#header .page-nav {
  display: none !important;
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .page-nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5vw;
  padding: 0;
}

#header .page-nav .nav-list li {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  border: 5px solid rgba(0, 147, 233, 0.8);
}

#header .page-nav .nav-list li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  background: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#header .page-nav .nav-list li:hover {
  -webkit-box-shadow: rgba(0, 147, 233, 0.12) 0px 2px 4px 0px, rgba(0, 147, 233, 0.32) 0px 2px 16px 0px;
          box-shadow: rgba(0, 147, 233, 0.12) 0px 2px 4px 0px, rgba(0, 147, 233, 0.32) 0px 2px 16px 0px;
}

#header .page-nav .nav-list li.active {
  -webkit-box-shadow: #0093e9 0px 20px 30px -10px;
          box-shadow: #0093e9 0px 20px 30px -10px;
}

#gallery {
  margin: 5vh 0 10vh 0;
  width: 100%;
  min-height: 100vh;
}

#gallery .gallery-container {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow: dense;
}

#gallery .gallery-container .img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: -3px 9px 36px 0px rgba(33, 212, 253, 0.5);
          box-shadow: -3px 9px 36px 0px rgba(33, 212, 253, 0.5);
}

#gallery .gallery-container .img .label {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #21d4fd;
  background: -webkit-gradient(linear, left bottom, right top, from(#21d4fd), to(#b721ff));
  background: linear-gradient(to top right, #21d4fd 0%, #b721ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  cursor: pointer;
}

#gallery .gallery-container .img:first-child {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

#gallery .gallery-container .img:nth-child(2n + 3) {
  -ms-grid-row: span 3;
      grid-row-start: span 3;
}

#gallery .gallery-container .img:nth-child(4n + 5) {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
  -ms-grid-row: span 2;
      grid-row-start: span 2;
}

#gallery .gallery-container .img:nth-child(6n + 7) {
  -ms-grid-row: span 1;
      grid-row-start: span 1;
}

#gallery .gallery-container .img:nth-child(8n + 9) {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
}

#gallery .gallery-container .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

#gallery .gallery-container .img:hover .label {
  opacity: 1;
}

#gallery .gallery-container .img:hover .blender {
  opacity: 0.2;
}

#gallery .gallery-container .img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

#footer {
  width: 100%;
  min-height: 30vh;
  padding: 5rem 0;
  background: #21d4fd;
  background: -webkit-gradient(linear, left bottom, right top, from(#21d4fd), to(#b721ff));
  background: linear-gradient(to top right, #21d4fd 0%, #b721ff 100%);
}

#footer .footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2vh;
  padding: 5vh 0;
}

#footer .footer-container .social-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vh;
}

#footer .footer-container .social-links h1 {
  color: #fff;
}

#footer .footer-container .social-links ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

#footer .footer-container .social-links ul a {
  text-decoration: none;
}

#footer .footer-container .social-links ul a li i {
  font-size: 3vw;
  color: #21d4fd;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

#footer .footer-container .social-links ul a li i:hover {
  color: rgba(33, 212, 253, 0.5);
}

#footer .footer-container .quick-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vh;
  padding: 2vh 0;
}

#footer .footer-container .quick-links h1 {
  color: #fff;
}

#footer .footer-container .quick-links ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

#footer .footer-container .quick-links ul a {
  text-decoration: none;
}

#footer .footer-container .quick-links ul a li {
  font-size: 2vw;
  color: #21d4fd;
  font-weight: bolder;
  position: relative;
}

#footer .footer-container .quick-links ul a li:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #21d4fd;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

#footer .footer-container .quick-links ul a li:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#footer .footer-container hr {
  width: 80%;
  color: #b721ff;
  margin: 0 auto;
}

#footer .footer-container .end-text {
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
  color: #009dc4;
  font-size: 1.5vw;
}

#footer .footer-container .end-text a {
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: #21d4fd;
}

@media only screen and (max-width: 768px) {
  #gallery {
    padding-top: 5vh !important;
  }
  #gallery .gallery-container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 430px) {
  #gallery {
    padding-top: 3vh !important;
  }
  #gallery .gallery-container {
    display: block;
  }
  #gallery .gallery-container img {
    display: block;
    width: 100px;
    height: 100%;
    margin: 2% 0;
  }
  #footer .footer-container hr {
    opacity: 1 !important;
  }
  #footer .social-links ul li i {
    font-size: 5vw !important;
  }
  #footer .quick-links ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  #footer .quick-links ul li {
    font-size: 5vw !important;
    text-align: center;
  }
  #footer .end-text {
    font-size: 3vw !important;
  }
}

#quote {
  width: 100%;
  font-family: "Special Elite", cursive;
  color: rgba(0, 147, 233, 0.53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vh;
}

#quote .blockquote {
  padding: 60px 80px 40px;
  position: relative;
}

#quote .blockquote p {
  font-family: "Special Elite", cursive;
  font-size: 2vw;
  font-weight: 700px;
  text-align: center;
}

#quote .blockquote:before {
  position: absolute;
  top: 0;
  content: "\201C";
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1);
}

#quote .blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  border-bottom: 3px solid #0093e9;
  height: 3px;
  width: 200px;
}

@media only screen and (max-width: 576px) {
  #quote .blockquote p {
    font-size: 2vh;
  }
  #quote .blockquote::after {
    width: 100px;
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .active.carousel-item-left,
  .carousel-item-prev:not(.carousel-item-right) {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/*# sourceMappingURL=gallery.css.map */